:root {
  --background: #0f0f0f;
  --foreground: #1e1e1e;
  --text-header: #ffffff;
  --text-nav: #eeeeee;
}

.Main {
  background-color: var(--background);
  min-height: 100vh;
}

.Head {
  margin: 0px;
  color: var(--text-header);
  background-color: var(--foreground);
  padding: 1vmin;
  display: flex;
}

.Head h1 {
  margin: 0px;
  font-size: calc(18px + 4vmin);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  margin-left: auto;
}

nav a {
  padding: 0px 2vw;
  color: var(--text-nav);
  text-decoration: none;
}

.RouteContainer {
  margin: 2vmin 6vmin;
  background-color: var(--foreground);
  color: var(--text-nav);
  min-height: 80vh;
  padding: 2vmin;
  border-radius: 24px;
}

.fade-enter {
  opacity: 0;
  transform: translate(0, 24px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px); 

  transition: opacity 250ms ease-out, transform 300ms ease;
}
/* Responsive conditions */
@media only screen and (max-width: 1024px) {
  nav {
    margin-left: 0px;
  }
  .Head {
    flex-direction: column;
    text-align: center;
  }
  .RouteContainer {
    margin: 1vmin 1vw;
  }
}